<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
</head>
<body>
    <div>
        <h1>ОАО "Добро пожаловать"</h1>
        <div style="padding: 20px; border: solid medium green; font-size: 20pt">
            @RenderBody()
        </div>
    </div>
</body>
</html>
