@model ITMO.MVC2023.Task01.Models.Person

@{
    ViewBag.Title = "Input";
}

<div>
    @using (Html.BeginForm())
    {
        <table>
            <tr>
                <td><p>Введите имя:</p></td>
                <td>@Html.TextBox("FirstName")</td>
            </tr>
            <tr>
                <td><p>Введите фамилию:</p></td>
                <td>@Html.TextBoxFor(x => x.LastName)</td>
            </tr>
            <tr>
                <td><input type="submit" value="Отправить" /> </td>
                <td></td>
            </tr>
        </table>}
</div>
