
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        @ViewBag.Greeting, спасибо, что зашли и @ViewData["Mes"]
        <p>
            @Html.ActionLink("Введите свои данные", "InputData")
        </p>
        <p> @Html.ActionLink("Посмотрите, кто уже здесь", "OutputData") </p>
    </div>
</body>
</html>
